body.cresco-canvas-page .wp-block-cresco-container.cc-container {
	box-sizing: border-box;
}

body.cresco-canvas-page .wp-block-cresco-container.cc-container img {
	height: auto;
	max-width: 100%;
}

